/*-- scss:defaults --*/
// Define the font families as Sass variables
$font-family-sans-serif: "Inter" !important;
$font-family-monospace: "Fira Mono" !important;
$web-font-path: "No"

/*-- scss:rules --*/
// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

